/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    .background{
        width: 100%;
        height: 100vh;
        padding: 2rem 0;
    }
    .container{
        height: 90vh;
        max-width: 80%;
        margin: auto;
        display: flex;
    }
    .col-4{
        width: calc((100% / 12) * 4);
        height: 100%;
    }
    .col-8{
        width: calc((100% / 12) * 8);
        height: 100%;
        /* debug */
        background-color: pink;
    }
    .col-6{
        width: calc((100% / 12) * 6);
        height: 100%;
    }
    .flex-container{
        display: flex;
    }
    .text-small{
        font-size: 14px;
        color: gray;
    }
    .text-bald{
        font-weight: 550;
    }
    .white-bg{
        background-color: rgb(253, 253, 253);
    }
    .avatar{
        width: 13%;
        border-radius: 50%;
    }
    i{
        color: gray;
        font-size: 22px;
        padding: 0 8px;
    }

/* ASIDE  navbar
*/
    .background .container > .flex-container{
        flex-direction: column;
    }
    aside .navbar div:first-child{
        height: 60px;
        /* debug */
        background-color: beige;
    }
    aside .navbar div:nth-child(2){
        height: 4.375rem;
        background-color: rgb(226, 226, 142);

    }
    aside .navbar div:last-child{
        height: 40px;
        background-color: rgb(229, 229, 81);
    }

/*  LEFT ASIDE  contacts
*/
    aside .contact-list{
        height: calc(100% - 170px);
        width: 100%;
    }
    aside .contact-list h4{
        display: inline-block;
    }
    aside .contact-list img{
        margin-right: 15px;
    }
    aside .contact-list .contact-card{
        padding: 12px 10px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

/* RIGHT ASIDE  
*/
    #r-aside header{
        height: 60px;
        padding: 8px 7px;
    }
    #r-aside header img{
        width: 10%;
        margin-right: 15px;
    }
    #r-aside header > div:last-child{
        text-align: right;
        display: inline-block;
        line-height:44px ;
    }