/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    .background{
        width: 100%;
        height: 100vh;
        padding: 2rem 0;
        background: rgb(218,219,211);
        background: linear-gradient(0deg, rgba(218,219,211,1) 78%, rgba(0,150,136,1) 78%);
    }
    .container{
        height: 90vh;
        max-width: 80%;
        margin: auto;
        display: flex;
    }
    .col-1{
        width: calc((100% / 12) * 1);
    }
    .col-2{
        width: calc((100% / 12) * 2);
        height: 100%;
    }
    .col-3{
        width: calc((100% / 12) * 3);
        height: 100%;
    }
    .col-10{
        width: calc((100% / 12) * 10);
    }
    .col-4{
        width: calc((100% / 12) * 4);
        height: 100%;
    }
    .col-8{
        width: calc((100% / 12) * 8);
        height: 100%;
        /* debug
        background-color: pink; */
    }
    .col-6{
        width: calc((100% / 12) * 6);
        height: 100%;
    }
    .mt-2{
        margin-top: 10px;
    }
    .flex-container{
        display: flex;
    }
    .text-small{
        font-size: 14px;
        color: gray;
    }
    .text-bald{
        font-weight: 550;
    }
    .white-bg{
        background-color: rgb(253, 253, 253);
    }
    .gray-bg{
        background-color: rgb(243, 238, 234);
    }
    .avatar{
        width: 85%;
        border-radius: 50%;
    }
    i{
        color: gray;
        font-size: 22px;
        padding: 0 8px;
    }
    .message{
        padding: 15px 18px;
        border-radius: 8px;
        width: 300px;
        display: inline-flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 10px;
    }
    .msg-rec{
        text-align: end;
    }
    .msg-sent{
        text-align: start;
    }
    .sent{
        background-color: white;
    }
    .received{
        background-color: #d5f9ba;
        text-align: start;
    }
    .hour{
        position: absolute;
        right: 4px;
        bottom: 4px;
        font-size: 12px;
    }
    .w-100{
        width: 100%;
    }
    .h-100{
        height: 100%;
    }
    .radius-rounded{
        border-radius: 10px;
    }
    .p-2{
        padding: 10px;
    }


/* LEFT ASIDE  navbar
*/  
    aside .navbar > div:first-child{
        height: 60px;
        text-align:     right;
        /* display: inline-block; */
        line-height: 44px;
    }
    .background .container > .flex-container{
        flex-direction: column;
        border-right: 1px solid lightgray;
    }
    aside .navbar > div{
        padding: 8px 7px;
    }
    aside .navbar > div div:first-child{
        text-align: end;
    }
    aside .navbar > div div:last-child{
        vertical-align: middle;
    }
    aside .navbar #io .avatar {
        margin-right: 15px;
        width: 40%;
    }


    aside .navbar > div:nth-child(2){
        height: 4.375rem;
        background-color: rgb(226, 226, 142);
    }
    aside .navbar > div:nth-child(2){
        height: 4.375rem;
        background-color: rgb(142, 218, 252);
        padding-left: 18px;
    }
    aside .navbar > div:nth-child(2) i{
        font-size: 25px;
        background-color: white;
        color: rgb(142, 218, 252) ;
        padding: 11px 8px;
        border-radius: 50% ;
        margin-right: 6px;
    }
    aside .navbar > div:nth-child(2) > div:last-child{
        margin-top: 10px;
    }


    
    aside .navbar > div:last-child{
        height: 40px;
        background-color: rgb(229, 229, 81);
    }

/*  LEFT ASIDE  contacts
*/
    aside .contact-list{
        height: calc(100% - 170px);
        width: 100%;

        overflow-y: auto;
    }
    aside .contact-list h4{
        display: inline-block;
    }
    aside .contact-list img{
        margin-right: 15px;
    }
    aside .contact-list .contact-card{
        padding: 12px 10px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

/* RIGHT ASIDE header
*/  
    #r-aside{
        height: 100%;
    }
    #r-aside header{
        height: 60px;
        padding: 8px 7px;
    }
    #r-aside header img{
        width: 12%;
        margin-right: 15px;
    }
    #r-aside header > div:last-child{
        text-align: right;
        display: inline-block;
        line-height:44px ;
    }

/* RIGHT ASIDE  message section
*/
    #r-aside #msg-sec{
        height: calc(100% - 120px);
        background-image: url(../img/mine.jpg);
        padding: 35px 45px;
    }

/* RIGHT ASIDE  writing-box
*/
#r-aside #writing-box{
    height: 60px;
    justify-content: space-around;
}
#r-aside #writing-box .col-1{
    line-height: 60px;
    justify-content: center;
    align-items: center;
}
#r-aside #writing-box .col-10 > div{
    background-color: white;
    padding: 12px 12px;
    border-radius: 8px;
}
#r-aside #writing-box .col-10{
    padding: 10px 0;
}