<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzap</title>

        <!-- FONT  AWESOME -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/debug.css">

        
        <!-- vuejs -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    </head>
    
    <body>

        <div id="app" class="background">
            
            <div class="container">
                
                <!-- ASIDE  -->
                <aside class="col-4 flex-container">

                    <header class="navbar border">

                        <div class="flex-container gray-bg">

                            <div id="io" class="col-6 flex-container">
                                <img src="img/avatar_io.jpg" alt="avatar_io" class="avatar">
                                <span class="text-bald">Sofia</span>
                            </div>

                            <div class="col-6 flex-container">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>


                        </div>

                        <div class="flex-container" id="notification-box" style="background-color: rgb(142, 218, 252);">
                            <div>
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div>
                                <span class="text-bald">Ricevi notifiche dei nuovi messaggi</span>
                                <div class="gray text-small">Attiva notifiche desktop</div>
                            </div>
                        </div>
                        <div style="background-color: rgb(250, 250, 250);">
                            searchbar
                        </div>

                    </header>

                    <section class="contact-list border white-bg">

                        <div @click="test(i)" class="contact-card flex-container" v-for="(singleContact, i) in contacts" >
                            
                            <img  class="avatar" :src="singleContact.avatar" alt="">
                            
                            <span>
                                <span class="text-bald">{{singleContact.name}}</span>
                                <div class="text-small">Ultimo messaggio inviato</div>
                            </span>
                        </div>

                    </section>

                </aside>
        
                <!-- MAIN  -->
                <div class="col-8" id="r-aside">
                    

                    <!-- RIGHT ASIDE - HEADER WITH USER INFO -->
                    <header class="gray-bg flex-container">

                        <div class="col-6 flex-container">
                            <img :src="contacts[activeContact].avatar" alt="" class="avatar">
                            <!-- v-for="singleContact in contacts" -->
                            <span>
                                <span class="text-bald">{{contacts[activeContact].name}}</span>
                                <div class="text-small">Ultimo accesso</div>
                            </span>
                        </div>

                        <div class="col-6 flex-container">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </header>


                    <!-- RIGHT ASIDE - CONVERSATION SECTION -->
                    <section id="msg-sec">

                        <template v-for="singleMessage in contacts[activeContact].messages">

                            <div v-if="singleMessage.status == 'received' ">
                                <div class="msg-rec">
                                    <span class="message received flex-container">
                                        <span>{{singleMessage.message}}</span>
                                        <span class="hour text-small">{{singleMessage.date}}</span>
                                    </span>
                                </div>
                            </div>

                            <div v-if="singleMessage.status == 'sent' ">
                                <div class="msg-sent">
                                    <span class="message sent flex-container">
                                        <span>{{singleMessage.message}}</span>
                                        <span class="hour text-small">{{singleMessage.date}}</span>
                                    </span>
                                </div>
                            </div>
                        </template>

                        <!-- <div class="msg-rec">
                            <span class="message received flex-container">
                                <span>Ricordati di sitemare i panni</span>
                                <span class="hour text-small">15:31</span>
                            </span>
                        </div>

                        <div class="msg-sent">
                            <span class="message sent flex-container">
                                <span>Tutto fatto!</span>
                                <span class="hour text-small">15:35</span>
                            </span>
                        </div> -->

                    </section>
                    

                    <!-- RIGHT ASIDE - WRITING MESSAGE BOTTOM SECTION -->
                    <section id="writing-box" class="gray-bg flex-container">
                        <div class="col-1 flex-container">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="col-10">
                            <input @keyup.enter="addMessage()"
                            type="text" 
                            class="text-small gray" 
                            v-model="newMessage" 
                            placeholder="scrivi un messaggio">

                        </div>
                        <div class="col-1 flex-container">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </section>
        
                </div>

            </div>

        </div>
        
        <script src="js/script.js"></script>
    </body>
</html>
